<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=", initial-scale="1.0">

    <!-- Links to the css and the Bootstrap-->
    <link rel="stylesheet" href="style.css">
    <title>Weather Report</title>
</head>

<body>
    <!-- Start to the header section-->
    <nav>
    <div class="header">
        <h1> Heavy Weather </h1>  
    </div>
    </nav>
    <!-- End of the header section-->

    
    <!-- left side pane with the search bar and form -->
<div class="container">
    <div class="block">
        <label class="label"> Location Search </label>
        <form type="form" action="#" data-netlify="" class="form p-1" onSubmit="return false;">
            <div class="field">
                <div class="control"><input type="text" name="city" placeholder="Enter a City" class="input" id="citySearch" /></div>
            </div>
        </form>

    <!-- Section for search bar and button  -->
    <button id="searchBtn" class="btn-style">Search</button>
    <button id="clearBtn" class="btn-style">Clear</button>
 
    <!-- location history section -->
    <div class="lbox">
        <article class="media">
            <figure class="media-left"></figure>
        </article><label class="label">
            <i class="fa-solid fa-clock-rotate-left"></i>
            Location History</label>
        <div id="locationHistory" class="location-history">
            <!-- insert location search history here dynamically -->
            </div>
    </div>
</div> <!-- bloock div for location search and history in the same -->
    <!-- end of the left side box -->

    <!--####### BREAK #######-->

    <!-- right side daily forecast div -->

<!-- todays forecast section -->

<div class="today">
    <div class="scene">
        <h3>Daily Weather Report</h3>
        
        <div class="dayof">
            <h4> Today </h4>
            <p> Content cards informartion </p>
            <div class="component">
                <p> Partly cloudy </p>
            </div>
        </div>
    </div>
</div>

    <!-- forecast cards for the next six days -->
    <div class="columns">
        <div class="forecast">
            <article class="media">
                <figure class="media-left"></figure>
                <div class="content">
                    <h2>
                        Weather Forecast:
                    </h2>
                        
                        <!-- right side daily forecast div -->

        <!-- Forecast for Monday -->
        <div class="cards">
            <div class="weekday">
                <h4> Tommorow </h4>
                <p> Todays Weather Conditons...</p>
            </div>
            <div class="weekday">
                <h4> day 2 </h4>
                <p> Todays Weather Conditons...</p>
            </div>
            <div class="weekday">
                <h4> day 3 </h4>
                <p> Todays Weather Conditons...</p>
            </div>
            <div class="weekday">
                <h4> day 4 </h4>
                <p> Todays Weather Conditons...</p>
            </div>
            <div class="weekday">
                <h4> day 5 </h4>
                <p> Todays Weather Conditons...</p>
            </div>
            <div class="weekday">
                <h4> day 6 </h4>
                <p> Todays Weather Conditons...</p>
            </div>
        </div>
    </article>
</div>
        
    </div>
</div> <!-- container closing div for the flex wrap -->
    <!-- daily forecast end -->

    <!-- Start of the footer section -->
    <footer>
        <div class="footer">
            <h4> Contact Me </h4>
            <h4> Github </h4>
            <h4> Portfolio </h4>
        </div>

    </footer>
   
    <!-- Scripts down below -->
    <script src=""></script>

</body>
</html>