<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Social Media Clone</title>
</head>
<body>
    <!-- Start to the header section-->
    <div class="header">
        <h1> Soul Social</h1>
        <div>

        </div>
    </div>
    <!-- End of the header section-->

    <!-- Section for posts and comments -->\
    <div class="posts">

    </div>

    <!-- end of post section -->

    

    
</body>
</html>