.header {
    display: flex;
    border: 2px solid black; 
    justify-content: center ;
    padding: 5px; 
    margin: 3px; 
}

h1 {
    color: teal; 
}

.footer {
    display: flex; 
    gap: 10px; 
    justify-content: center;
}

.btn-style {
    background-color: olivedrab;
    color: whitesmoke; 
}

/* button sizing to make them stack as well as set the box size */
#searchBtn, #clearBtn {
    width: 25vw;
    padding: 2px; 
    margin: 7px; 
    display: flex;
    justify-content: center;
}

/* inline block display to force block to reduce and stay left */
.block {
    padding: 10px;
    margin: 15px; 
    border: 3px solid black; 
    display: inline-block;
}
/* Left box class */
.lbox {
    padding: 10px;
    margin: 5px;
}